In [5]:
import pandas as pd
import os
import json

json_file = '/home/shibin/Febi-Settyl-ML-project/src/dataset.json'

with open(json_file, 'r') as f:
    file_data = json.load(f)

df = pd.DataFrame(file_data)
df

,externalStatus,internalStatus
0,PORT OUT,Port Out
1,TERMINAL IN,Inbound Terminal
2,PORT IN,Port In
3,Vessel departure from first POL (Vessel name :...,Departure
4,Vessel arrival at final POD (Vessel name : TIA...,Arrival
...,...,...
1217,Import Loaded on Rail,Loaded on Vessel
1218,Full Transshipment Loaded,Loaded on Vessel
1219,Full Transshipment Loaded,Loaded on Vessel
1220,Export Loaded on Vessel,Loaded on Vessel
1221,Empty to Shipper,Empty Container Released

In [8]:
df.internalStatus.nunique()

15

In [9]:
df.externalStatus.nunique()

108

In [10]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /home/shibin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/shibin/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /home/shibin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/shibin/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [12]:
df_ext = df.drop('internalStatus', axis=1)
df_ext

                                         externalStatus
0                                              PORT OUT
1                                           TERMINAL IN
2                                               PORT IN
3     Vessel departure from first POL (Vessel name :...
4     Vessel arrival at final POD (Vessel name : TIA...
...                                                 ...
1217                              Import Loaded on Rail
1218                          Full Transshipment Loaded
1219                          Full Transshipment Loaded
1220                            Export Loaded on Vessel
1221                                   Empty to Shipper

[1222 rows x 1 columns]

In [13]:
df_ext = df_ext.drop_duplicates()
df_ext

                                         externalStatus
0                                              PORT OUT
1                                           TERMINAL IN
2                                               PORT IN
3     Vessel departure from first POL (Vessel name :...
4     Vessel arrival at final POD (Vessel name : TIA...
...                                                 ...
941   'MARINA ONE 001S' Arrival at Port of Dischargi...
942   Unloaded from 'MARINA ONE 001S' at Port of Dis...
1002                       Load on MOGENS MAERSK / 246W
1004                       Load on MSC ALEXANDRA / 248W
1016                          Estimated Time of Arrival

[108 rows x 1 columns]

In [17]:
df['internalStatus'].unique().tolist()

['Port Out',
 'Inbound Terminal',
 'Port In',
 'Departure',
 'Arrival',
 'Gate In',
 'Loaded on Vessel',
 'Gate Out',
 'On Rail',
 'Off Rail',
 'Empty Return',
 'In-transit',
 'Outbound Terminal',
 'Empty Container Released',
 'Unloaded on Vessel']