In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_json('../src/dataset.json')
df

,externalStatus,internalStatus
0,PORT OUT,Port Out
1,TERMINAL IN,Inbound Terminal
2,PORT IN,Port In
3,Vessel departure from first POL (Vessel name :...,Departure
4,Vessel arrival at final POD (Vessel name : TIA...,Arrival
...,...,...
1217,Import Loaded on Rail,Loaded on Vessel
1218,Full Transshipment Loaded,Loaded on Vessel
1219,Full Transshipment Loaded,Loaded on Vessel
1220,Export Loaded on Vessel,Loaded on Vessel
1221,Empty to Shipper,Empty Container Released

In [10]:
df

,externalStatus,internalStatus
0,PORT OUT,Port Out
1,TERMINAL IN,Inbound Terminal
2,PORT IN,Port In
3,Vessel departure from first POL (Vessel name :...,Departure
4,Vessel arrival at final POD (Vessel name : TIA...,Arrival
...,...,...
1217,Import Loaded on Rail,Loaded on Vessel
1218,Full Transshipment Loaded,Loaded on Vessel
1219,Full Transshipment Loaded,Loaded on Vessel
1220,Export Loaded on Vessel,Loaded on Vessel
1221,Empty to Shipper,Empty Container Released

In [11]:
df[df['externalStatus']=="PORT OUT"]

    externalStatus internalStatus
0         PORT OUT       Port Out
43        PORT OUT       Port Out
44        PORT OUT       Port Out
56        PORT OUT       Port Out
99        PORT OUT       Port Out
141       PORT OUT       Port Out
204       PORT OUT       Port Out
209       PORT OUT       Port Out
240       PORT OUT       Port Out
243       PORT OUT       Port Out
309       PORT OUT       Port Out
372       PORT OUT       Port Out
376       PORT OUT       Port Out
397       PORT OUT       Port Out
402       PORT OUT       Port Out

In [12]:
def one_hot_encoding(df):
        # external_status = df['externalStatus'].unique().tolist()
        one_hot_1_0_map("externalStatus", external_status)
        df.drop(columns=['externalStatus'], axis=1, inplace=True)
        return df

def one_hot_1_0_map(col, labels_list):
    for label in labels_list:
        df[label] = np.where(df[col] == label, 1, 0)

In [13]:
df1 = one_hot_encoding(df)
df1

NameError: name 'external_status' is not defined

In [ ]:
def label_encoding(df):
        internal_keys = df['internalStatus'].unique().tolist()
        internal_dict = {}
        for i, k in zip(range(0, 15), internal_keys):
            internal_dict[k] = i
        df['internalStatus_m'] = df['internalStatus'].map(internal_dict)
        df = df.drop(columns=['internalStatus'])
        return df

In [ ]:
df3 = label_encoding(df)
df3

<ipython-input-51-98ed8dfcb0da>:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['internalStatus_m'] = df['internalStatus'].map(internal_dict)

,PORT OUT,TERMINAL IN,PORT IN,Vessel departure from first POL (Vessel name : TIAN FU HE),Vessel arrival at final POD (Vessel name : TIAN FU HE),DEPARTCU,Gate in,Load on MAERSK SEMBAWANG / 237E,Discharge,Gate out,...,Expected Arrival at Dest. Ramp,Expected Arrival Place of Delivery,Loaded on 'MARINA ONE 001S' at Port of Loading MARINA ONE 001S,'MARINA ONE 001S' Departure from Port of Loading MARINA ONE 001S,'MARINA ONE 001S' Arrival at Port of Discharging MARINA ONE 001S,Unloaded from 'MARINA ONE 001S' at Port of Discharging MARINA ONE 001S,Load on MOGENS MAERSK / 246W,Load on MSC ALEXANDRA / 248W,Estimated Time of Arrival,internalStatus_m
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1221,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13

In [ ]:
X = df3.drop('internalStatus_m', axis=1)
y = df3['internalStatus_m']

In [ ]:
X

,PORT OUT,TERMINAL IN,PORT IN,Vessel departure from first POL (Vessel name : TIAN FU HE),Vessel arrival at final POD (Vessel name : TIAN FU HE),DEPARTCU,Gate in,Load on MAERSK SEMBAWANG / 237E,Discharge,Gate out,...,Rail Arrival in-Transit,Expected Arrival at Dest. Ramp,Expected Arrival Place of Delivery,Loaded on 'MARINA ONE 001S' at Port of Loading MARINA ONE 001S,'MARINA ONE 001S' Departure from Port of Loading MARINA ONE 001S,'MARINA ONE 001S' Arrival at Port of Discharging MARINA ONE 001S,Unloaded from 'MARINA ONE 001S' at Port of Discharging MARINA ONE 001S,Load on MOGENS MAERSK / 246W,Load on MSC ALEXANDRA / 248W,Estimated Time of Arrival
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1221,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [ ]:
X_train

,PORT OUT,TERMINAL IN,PORT IN,Vessel departure from first POL (Vessel name : TIAN FU HE),Vessel arrival at final POD (Vessel name : TIAN FU HE),DEPARTCU,Gate in,Load on MAERSK SEMBAWANG / 237E,Discharge,Gate out,...,Rail Arrival in-Transit,Expected Arrival at Dest. Ramp,Expected Arrival Place of Delivery,Loaded on 'MARINA ONE 001S' at Port of Loading MARINA ONE 001S,'MARINA ONE 001S' Departure from Port of Loading MARINA ONE 001S,'MARINA ONE 001S' Arrival at Port of Discharging MARINA ONE 001S,Unloaded from 'MARINA ONE 001S' at Port of Discharging MARINA ONE 001S,Load on MOGENS MAERSK / 246W,Load on MSC ALEXANDRA / 248W,Estimated Time of Arrival
577,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
773,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
763,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
165,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y_test

952     12
682      5
988      6
85       7
730      3
        ..
822      5
511     13
112      3
1134     6
640      7
Name: internalStatus_m, Length: 245, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([12,  5,  6,  7,  3,  3,  3,  6,  6,  6,  7,  6,  5,  6,  7,  3,  4,
        8,  3, 10,  3, 14,  3,  7,  6, 11,  9,  7,  3,  6, 13,  6,  7,  6,
        8,  7,  5,  7,  3,  7,  8,  3,  6, 10, 14,  8,  3,  3,  7,  7,  7,
        6,  3,  5, 14,  7,  4,  5,  3,  4, 10,  3,  8,  3,  3,  6,  7,  6,
        0,  3,  5,  4,  3,  6,  5,  6,  3, 13,  3,  7, 13,  3,  7,  3,  5,
        6,  6,  3,  3,  3,  3,  6,  6,  7,  3,  0, 10, 10,  7,  5,  6,  5,
        6, 10,  6,  5,  3,  3,  6,  7,  6, 10,  6,  6,  6,  5,  7,  0,  5,
        3,  5,  7,  6,  7,  3,  6,  5,  9,  3, 13,  6,  4, 10, 14,  7,  6,
        5,  3,  3,  3,  4,  6,  7,  7,  6,  6,  6,  4,  3,  3,  5, 10,  6,
       13,  3,  3,  4,  3,  6, 10,  5,  3,  1,  9,  6,  3,  6,  3,  3,  1,
        7,  5,  5,  3, 12,  3,  7,  3, 12,  7,  3,  6,  5,  5,  7,  7,  6,
        3,  3,  3,  7,  3,  6, 14,  6,  6,  3,  6,  7,  3,  3,  6,  4,  3,
        3,  7, 14,  6,  3, 13,  6,  6, 12,  6, 10,  6,  6,  3,  3,  7,  5,
        3, 14,  6, 14,  6,  3,  6,  7, 13,  6,  3, 12,  5,  3,  6,  7,  0,
        6,  7,  5, 13,  3,  6,  7])

In [ ]:
y_test.head(20)

952     12
682      5
988      6
85       7
730      3
462      3
862      3
953      6
390      6
498      6
803      7
396      6
1118     5
886      6
771      7
617      3
899      4
1065     8
1113     3
132     10
Name: internalStatus_m, dtype: int64

In [ ]:
from sklearn.metrics import classification_report, f1_score
classification_rep = classification_report(y_test, y_pred)
print("Classification Report:", classification_rep)

Classification Report:               precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       1.00      1.00      1.00         2
           3       1.00      0.99      0.99        67
           4       1.00      0.82      0.90        11
           5       1.00      1.00      1.00        25
           6       0.93      1.00      0.97        56
           7       1.00      1.00      1.00        38
           8       1.00      1.00      1.00         5
           9       1.00      1.00      1.00         3
          10       1.00      1.00      1.00        11
          11       1.00      1.00      1.00         1
          12       1.00      0.83      0.91         6
          13       1.00      1.00      1.00         8
          14       1.00      1.00      1.00         8

    accuracy                           0.98       245
   macro avg       1.00      0.97      0.98       245
weighted avg       0.98      0.98      0.98       245

In [ ]:
f1score = f1_score(y_test, y_pred, average='weighted')

print("F1-score:", f1score)

F1-score: 0.9833459247889412

In [ ]:
X_test.iloc[0]

PORT OUT                                                                  0
TERMINAL IN                                                               0
PORT IN                                                                   0
Vessel departure from first POL (Vessel name : TIAN FU HE)                0
Vessel arrival at final POD (Vessel name : TIAN FU HE)                    0
                                                                         ..
'MARINA ONE 001S' Arrival at Port of Discharging MARINA ONE 001S          0
Unloaded from 'MARINA ONE 001S' at Port of Discharging MARINA ONE 001S    0
Load on MOGENS MAERSK / 246W                                              0
Load on MSC ALEXANDRA / 248W                                              0
Estimated Time of Arrival                                                 0
Name: 952, Length: 108, dtype: int64

In [ ]:
df.externalStatus.unique()

array(['PORT OUT', 'TERMINAL IN', 'PORT IN',
       'Vessel departure from first POL (Vessel name : TIAN FU HE)',
       'Vessel arrival at final POD (Vessel name : TIAN FU HE)',
       'DEPARTCU', 'Gate in', 'Load on MAERSK SEMBAWANG / 237E',
       'Discharge', 'Gate out', 'Load on MSC SVEVA / 248E',
       'Load (Vessel name : MSC ORION)',
       'Discharge (Vessel name : MSC ORION)', 'On rail', 'Off rail',
       'Gate out, Empty', 'Load on MSC ORION / 227N',
       'TOLL PLAZA CROSSED', 'CFS OUT', 'CFS IN',
       'Empty Container Release to Shipper',
       'Gate In to Outbound Terminal',
       "Loaded on 'YM PLUM 175W' at Port of Loading YM PLUM 175W",
       "'YM PLUM 175W' Departure from Port of Loading YM PLUM 175W",
       "'YM PLUM 175W' Arrival at Port of Discharging YM PLUM 175W",
       "Unloaded from 'YM PLUM 175W' at Port of Discharging YM PLUM 175W",
       'Empty Container Returned from Customer',
       'Empty Container Door Arrival', 'Gate In to Outbound CY',
       'Outbound Rail Loading', 'Outbound Rail Departure',
       'Outbound Rail Arrival', 'Outbound Rail Unloading',
       'Gate Out from Outbound CY',
       "Loaded on 'TUCAPEL 008E' at Port of Loading TUCAPEL 008E",
       "'TUCAPEL 008E' Departure from Port of Loading TUCAPEL 008E",
       "'TUCAPEL 008E' Arrival at Port of Discharging TUCAPEL 008E",
       "Unloaded from 'TUCAPEL 008E' at Port of Discharging TUCAPEL 008E",
       'Load on CAP SAN ARTEMISSIO / 240S', 'TERMINAL OUT',
       'Load on EDITH MAERSK / 241E', 'Load on LEONIDIO / 248W',
       'Load on NORFOLK / 226E', 'Load on MUMBAI MAERSK / 226W',
       'Load on MAERSK EVORA / 228N',
       'Load on CMA CGM DON PASCUALE / 242N', 'Load on PL GERMANY / 246N',
       'Load on CAP SAN SOUNIO / 239W', 'Load on CIELO DI RABAT / 243W',
       'Load on GERNER MAERSK / 226N', 'Load on MAERSK STEPNICA / 242S',
       'Load on MAERSK HORSBURGH / 242E', 'Load on SKAGEN MAERSK / 248S',
       'GATE OUT', 'Load on MSC LIVORNO / 224N',
       'Load on SAN CLEMENTE / 244E', 'Load on MAERSK GUATEMALA / 247E',
       'Load on NYK FUSHIMI / 115N', 'Load on MILAN MAERSK / 242E',
       'Load on SEALAND ILLINOIS / 226E', 'Load on VOLGA MAERSK / 241N',
       'Load on MAERSK MONTANA / 246W', 'Load on BG IRELAND / 247W',
       'Load on NORTHERN JASPER / 027E', 'Loaded USJAX', 'Unloaded PRSJU',
       'Actual time of departure', 'Expected time of departure',
       'Load (Vessel name : COSCO INDONESIA)',
       'Discharge (Vessel name : COSCO INDONESIA)', 'Empty to shipper',
       'Vessel Departure', 'Vessel Arrival', 'Loaded on board',
       'Full Load on rail for export', 'Train arrival for export',
       'Import Unloaded from Rail', 'Import Loaded on Rail',
       'Full Transshipment Loaded', 'Export Loaded on Vessel',
       'Empty to Shipper', 'Export Unloaded from Rail',
       'Export Rail Departure', 'Export Loaded on Rail',
       'Loaded at T/S POL', 'Loaded at First POL',
       'Load (Vessel name : MAERSK BULAN)',
       'Discharge (Vessel name : MAERSK BULAN)',
       'Load (Vessel name : MAERSK NIJMEGEN)',
       'Discharge (Vessel name : MAERSK NIJMEGEN)',
       'Load (Vessel name : ELBWATER)',
       'Discharge (Vessel name : ELBWATER)',
       'Loaded on board (Vessel name : VAYENGA MAERSK)',
       'Vessel Departure (Vessel name : VAYENGA MAERSK)',
       'Vessel Arrival (Vessel name : VAYENGA MAERSK)', 'Loaded on Board',
       'Expected Arrival Update', 'Loaded on Train',
       'Rail Arrival in-Transit', 'Expected Arrival at Dest. Ramp',
       'Expected Arrival Place of Delivery',
       "Loaded on 'MARINA ONE 001S' at Port of Loading MARINA ONE 001S",
       "'MARINA ONE 001S' Departure from Port of Loading MARINA ONE 001S",
       "'MARINA ONE 001S' Arrival at Port of Discharging MARINA ONE 001S",
       "Unloaded from 'MARINA ONE 001S' at Port of Discharging MARINA ONE 001S",
       'Load on MOGENS MAERSK / 246W', 'Load on MSC ALEXANDRA / 248W',
       'Estimated Time of Arrival'], dtype=object)

In [ ]:
pd.Da

In [ ]:
x= "Discharge"
dff = pd.DataFrame([{"externalStatus" : x}])
dff

  externalStatus
0      Discharge

In [ ]:
one_hot_encoding()